<div id="container">
    <div id="content" role="main">
            	<div class="reset-password fill-box">
            		<div class="Thistitle oldpassword">重新设置密码</div>		
            		<div class="fillTip newpassword">
            			<label>新密码:</label><input type="password" id="password_f" class="text01" Gtype="password" Gmessage="密码应为6-20位"/>
            		</div>
            		<div class="fillTip password-comfirm">
            			<label>新密码:</label><input type="password" id="password_s" class="text01" Gtype="confirmPassword" Gmessage="两次输入的密码不正确"/>
            		</div>
					
            		<div class="fillTip">
            			<input type="button" onclick="update_forget_password();" class="button01 Gsubmit" value="确 定"/>
            		</div>
            		
					
            	</div>
				
				<div class="hidden-success" id="wrong" style="display: none; ">
					<div class="p-attension"></div>
					<p class="p-wrong">message</p>
					<button value="确定">确定</button>
				</div>
				
				<script type="text/javascript">
						Gform.init(".reset-password");
				</script>
                <script type="text/javascript">
                    function update_forget_password(){
                        ajaxurl = '<?php echo network_site_url('wp-admin/admin-ajax.php'); ?>';
                        jQuery.post(ajaxurl,{
                                action:"custom-page",
                                custom_page_action:'update_forget_password',
                                custom_page_ctl:'user-admin',
                                password_f: document.getElementById('password_f').value,
                                password_s: document.getElementById('password_s').value,
                                user_id: '<?php echo $_GET['login']; ?>',
                                key: '<?php echo $_GET['key']; ?>',
                                cookie:encodeURIComponent(document.cookie)
                            },function(data){
                                if(data['success']){
                                    //Gform.popDiv(data['message']);
                                    location.href = '<?php echo $this -> request_url; ?>';
                                }else{
                                   
									Gform.popDiv(data['message']);
                                }
                				//location.href = '?post_type=f_games&page=jia/f_games_ctt_stock.php';
                            },'json'
                        );
                    }
                </script>
	</div><!-- #content -->
</div><!-- #container -->

