<div id="container">
    <div id="content" role="main">
           <div class="success-register fill-box">	
        		<div class="middleTip register-title">恭喜你！</div>
        		<div class="middleTip">
        			您已经注册成为纪梵希官网会员，请立即登录邮箱激活用户！
        		</div>
        		
        		<div class="middleTip">
        			<a href="#" class="button01" onClick="send_email();">重新发送邮件</a>
        			<a href="<?php echo network_site_url(''); ?>" class="button01">返回首页</a>
        		</div>
        	</div>
			
			<div class="hidden-success" id="wrong" style="display: none; ">
					<div class="p-attension"></div>
					<p class="p-wrong">message</p>
					<button value="确定">确定</button>
			</div>
			
			<script type="text/javascript">
			Gform.init(".success-register");
			</script>
			
             <script type="text/javascript">
                function send_email(){
                    ajaxurl = '<?php echo network_site_url('wp-admin/admin-ajax.php'); ?>';
                    jQuery.post(ajaxurl,{
                            action:"custom-page",
                            custom_page_action:'do_send_activation_email',
                            custom_page_ctl:'user-admin',
                            user_id:'<?php  echo $_REQUEST['uu']  ?>',
                            cookie:encodeURIComponent(document.cookie)
                        },function(data){
                            if(data){
                                //alert(data['message']);
                                Gform.popDiv('发送成功!');
                            }else{
                                Gform.popDiv('发送失败!');
                            }
            				//location.href = '?post_type=f_games&page=jia/f_games_ctt_stock.php';
                        },'json'
                    );
                }
            </script>
	</div><!-- #content -->
</div><!-- #container -->

