<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.jqzoom').jqzoom({
            zoomType: 'standard',
            lens:true,
            preloadImages: false,
            alwaysOn:false
        });
	
});
</script>

			
		
            <?php include_once(CUSTOM_PAGE_ROOT.'view/second/topbar.html'); ?>

		
			<div class="product-main">
				<div class="label-product"><?php the_title(); ?></div>
                <?php
                    if($product_id == '2097'){
                        echo '<div style="position:absolute; top:134px; right: 173px;"><a style="text-decoration: underline; color:#000000;" href = "http://www.sephora.cn/productDetailAction/6172.html" >了解更多新品特惠</a></div>';
                    }
                ?>
				<div class="label-product2"><?php echo $wp_query -> queried_object -> post_excerpt;  ?></div>
				<div class="product-detail">
					<div class="product-big-image">
					<a href="<?php echo $image_url[0]; ?>" class="jqzoom" rel='gal1'  title="<?php the_title(); ?>"> 
                        <!-- <img src="images/hufu/90.jpg" height="240" /> -->
                        <?php echo wp_get_attachment_image($thumbnailId, 'full',false,'',array('height' => 240 ,'width' => 222)); ?>
                    </a>
					
					</div>
					<div class="product-color-piker">
                        <?php
                            if(!empty($topimg_url)){
                                echo '<img src="'.$topimg_url.'" width="211" alt="" />';
                            }
                        ?>
                    </div>
					<div class="product-small-box">
						<div class="small-image">
						   <?php echo wp_get_attachment_image($thumbnailId, 'full',false,'',array('height' => 76 ,'width' => 70)); ?> 
						</div>
						<div class="bigger-button">
							<div></div>
						</div>
					</div>
					<div class="share">
							<a href="http://www.kx001.com/Givenchy_379193" class="kaixin"></a>	
							<a href="http://e.weibo.com/parfumsgivenchy" class="weibo"></a>
					</div>
					
				</div>
				<div class="product-description">
					<div class="description-title">描述</div>
					<div class="description-content"><?php echo $content_txt; ?></div>
				</div>
				<div class="product-advise">
					<div class="advise-title">建议搭配：</div>
					<div class="advise-box">
						<div class="advise">
                            <?php 
                            
                                foreach($associate_products as $value){
                                    echo '<div class="adviseList">';
                                    echo '<div class="advise-pic">';
                                    echo '<a href = "'.get_permalink($value -> product_c).'" >'.wp_get_attachment_image($value -> thumbnail_id, 'full',false,'',array('height' => 95 ,'width' => 88)).'</a>'; 
    								echo '</div>';
    								echo '<div class="advise-name">';
                                    echo '<a href = "'.get_permalink($value -> product_c).'" >'.$value -> title.'</a>' ;
                                    echo '</div>';
							        echo '</div>';
                                }
                            
                            ?>
                        </div>
					</div>
				</div>
			</div>
			
