<div class="product-bar">
	<div class="color-overlay">
		<ul>
			<li><a <?php echo $Select_category_class[1]; ?> href="/category/perfume/product-information-perfume/lady-perfume/play-play-woman/">女士香水</a></li>
			<li>|</li>
			<li><a <?php echo $Select_category_class[2]; ?> href="/category/perfume/product-information-perfume/man/pi/">男士香水</a></li>
			<li>|</li>
			<li><a <?php echo $Select_category_class[3]; ?> href="/category/skin-care/product-information-skin-care/vaxin/" >护肤</a></li>
			<li>|</li>
			<li><a <?php echo $Select_category_class[4]; ?> href="/category/makeup/product-information/face/foundation/" >彩妆</a></li>
		</ul>
	</div>
</div>
